ENVIRONMENT=development
DATABASE_URL=sqlite:///./reserveme.db
JWT_SECRET_KEY=my-jwt-secret-key
PAYSTACK_SECRET=my-paystack-secret
CLOUDINARY_CLOUD=cloudinary-cloud
CLOUDINARY_API_KEY=cloudinary-api-key
CLOUDINARY_API_SECRET=cloudinary-api-secret